 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2> <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>PhD candidate in Psychology, Neuroscience and Behaviour. focusing on how memory influences attention.</p>
                </div>
                <div class="col-lg-4">
                    <p>Focusing on how experience influences attention and cognitive control.</p>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Ben.</p>
                </div>
            </div>-->
        </div>
    </section>
