 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ben is smart, nice, and cool.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm not sure what to write here, but you can bet that I am working diligently on a solution. </p>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Ben.</p>
                </div>
            </div>-->
        </div>
    </section>
